<div class="title-section w-full flex justify-between">
    <h1 class=" font-bold text-2xl">Items</h1>

    <div class="floor-actions">
        <button class="btn btn-outline btn-primary" onclick="my_modal_5.showModal()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            Items
        </button>
    </div>
</div>

<div class="flex w-full place-content-center gap-12 mt-6">
    <div class="card lg:card-side bg-base-100 shadow-md">
        <figure>
            <img src="../../assets/images/items/burger.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
            <h2 class="card-title">Burger</h2>
            <p>Lorem ipsum dolor sit amet consectetur </p>
            <p class="mt-4">$ 100</p>
            <div class="card-actions justify-between ">
                <button class="btn btn-outline btn-primary w-14">Edit</button>
                <button class="btn btn-outline btn-primary w-14">Delete</button>
            </div>
        </div>
    </div>
    <div class="card lg:card-side bg-base-100 shadow-md">
        <figure>
            <img src="../../assets/images/items/burger.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
            <h2 class="card-title">Burger</h2>
            <p>Lorem ipsum dolor sit amet consectetur </p>
            <p class="mt-4">$ 100</p>
            <div class="card-actions justify-between ">
                <button class="btn btn-outline btn-primary w-14">Edit</button>
                <button class="btn btn-outline btn-primary w-14">Delete</button>
            </div>
        </div>
    </div>
    <div class="card lg:card-side bg-base-100 shadow-md">
        <figure>
            <img src="../../assets/images/items/burger.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
            <h2 class="card-title">Burger</h2>
            <p>Lorem ipsum dolor sit amet consectetur </p>
            <p class="mt-4">$ 100</p>
            <div class="card-actions justify-between ">
                <button class="btn btn-outline btn-primary w-14">Edit</button>
                <button class="btn btn-outline btn-primary w-14">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="flex w-full place-content-center gap-12 mt-10">
    <div class="card lg:card-side bg-base-100 shadow-md">
        <figure>
            <img src="../../assets/images/items/burger.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
            <h2 class="card-title">Burger</h2>
            <p>Lorem ipsum dolor sit amet consectetur </p>
            <p class="mt-4">$ 100</p>
            <div class="card-actions justify-between ">
                <button class="btn btn-outline btn-primary w-14">Edit</button>
                <button class="btn btn-outline btn-primary w-14">Delete</button>
            </div>
        </div>
    </div>
    <div class="card lg:card-side bg-base-100 shadow-md">
        <figure>
            <img src="../../assets/images/items/burger.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
            <h2 class="card-title">Burger</h2>
            <p>Lorem ipsum dolor sit amet consectetur </p>
            <p class="mt-4">$ 100</p>
            <div class="card-actions justify-between ">
                <button class="btn btn-outline btn-primary w-14">Edit</button>
                <button class="btn btn-outline btn-primary w-14">Delete</button>
            </div>
        </div>
    </div>
    <div class="card lg:card-side bg-base-100 shadow-md">
        <figure>
            <img src="../../assets/images/items/burger.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
            <h2 class="card-title">Burger</h2>
            <p>Lorem ipsum dolor sit amet consectetur </p>
            <p class="mt-4">$ 100</p>
            <div class="card-actions justify-between ">
                <button class="btn btn-outline btn-primary w-14">Edit</button>
                <button class="btn btn-outline btn-primary w-14">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="flex w-full place-content-center gap-12 mt-10">
    <div class="card lg:card-side bg-base-100 shadow-md">
        <figure>
            <img src="../../assets/images/items/burger.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
            <h2 class="card-title">Burger</h2>
            <p>Lorem ipsum dolor sit amet consectetur </p>
            <p class="mt-4">$ 100</p>
            <div class="card-actions justify-between ">
                <button class="btn btn-outline btn-primary w-14">Edit</button>
                <button class="btn btn-outline btn-primary w-14">Delete</button>
            </div>
        </div>
    </div>
    <div class="card lg:card-side bg-base-100 shadow-md">
        <figure>
            <img src="../../assets/images/items/burger.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
            <h2 class="card-title">Burger</h2>
            <p>Lorem ipsum dolor sit amet consectetur </p>
            <p class="mt-4">$ 100</p>
            <div class="card-actions justify-between ">
                <button class="btn btn-outline btn-primary w-14">Edit</button>
                <button class="btn btn-outline btn-primary w-14">Delete</button>
            </div>
        </div>
    </div>
    <div class="card lg:card-side bg-base-100 shadow-md">
        <figure>
            <img src="../../assets/images/items/burger.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
            <h2 class="card-title">Burger</h2>
            <p>Lorem ipsum dolor sit amet consectetur </p>
            <p class="mt-4">$ 100</p>
            <div class="card-actions justify-between ">
                <button class="btn btn-outline btn-primary w-14">Edit</button>
                <button class="btn btn-outline btn-primary w-14">Delete</button>
            </div>
        </div>
    </div>
</div>

 <!------------------------------------- Modal to add Items -------------------------------------->
    <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
                    ✕
                </button>
            </form>
            <h3 class="text-lg font-bold">
                {{ isAddItems ? "New" : "Update" }} Item
            </h3>
            <form [formGroup]="itemForm" action="">
                <label class="form-control w-full mt-9">
                    <div class="label">
                    </div>
                    <input type="file" formControlName="picture" accept="image/*"
                        [ngClass]="itemForm.controls['picture'].touched && itemForm.controls['picture'].errors?.['required'] ?'input-error':''"
                        class="file-input file-input-bordered file-input-info w-full max-w-xs" />
                </label>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Name</span>
                    </div>
                    <input type="text" formControlName="name"
                        [ngClass]="itemForm.controls['name'].touched && itemForm.controls['name'].errors?.['required'] ?'input-error':''"
                        class="input input-bordered w-full" />
                </label>

                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Price</span>
                    </div>
                    <input type="text" formControlName="price"
                        [ngClass]="itemForm.controls['price'].touched && itemForm.controls['price'].errors?.['required'] ?'input-error':''"
                        class="input input-bordered w-full" />
                </label>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Description</span>
                    </div>
                    <textarea class="textarea textarea-bordered"
                        [ngClass]="itemForm.controls['description'].touched && itemForm.controls['description'].errors?.['required'] ?'textarea-error':''"
                        formControlName="description" placeholder="Description"></textarea>
                </label>
            </form>
            <div class="modal-action">
                <form method="dialog" class="flex flex-row gap-4">
                    <button class="btn btn-warning btn-outline text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                        Close
                    </button>
                    <button [disabled]="!itemForm.valid" (click)="submitForm()"
                        class="btn btn-success btn-outline text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        {{ isAddItems ? "Add" : "Update" }} Items
                    </button>
                </form>
            </div>
        </div>
    </dialog>

    