<div class="title-section w-full flex justify-between">
    <h1 class=" font-bold text-2xl">Deals</h1>

    <div class="floor-actions">
        <div class="drawer drawer-end">
            <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content">
                <!-- Page content here -->
                <label for="my-drawer-4" class="drawer-button btn btn-outline btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>Deals</label>
            </div>
            <div class="drawer-side z-50">
                <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay "></label>
                <ul class="menu bg-base-200 text-base-content min-h-full w-3/12 p-4">

                    <!-- New Deal Form -->
                    <h2 class="text-lg font-bold mb-4">Create New Deal</h2>
                    <form class="space-y-4">
                        <!-- Deal Name -->
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Deal Name</span>
                            </label>
                            <input type="text" placeholder="Enter deal name" class="input input-bordered"  [(ngModel)]="dealName" [ngModelOptions]="{standalone: true}"/>
                        </div>

                        <!-- Deal Number -->
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Deal Number</span>
                            </label>
                            <input type="number" placeholder="Enter deal number" class="input input-bordered" [(ngModel)]="dealNumber" [ngModelOptions]="{standalone: true}"/>
                        </div>

                        <!-- Deal Description -->
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Deal Description</span>
                            </label>
                            <textarea class="textarea textarea-bordered"
                                placeholder="Enter deal description" [(ngModel)]="dealDescription" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>

                        <!-- Search  -->
                        <!-- <div>
                            <label class="label">
                                <span class="label-text">Create a Deal</span>
                            </label>
                            <input class="input input-bordered" type="text" placeholder="Search item..." [(ngModel)]="searchText" (input)="onSearch($event.target)" />
                            <ul>
                              <li *ngFor="let item of filteredItems">
                                {{ item.name }} - {{ item.price }}
                              </li>
                            </ul>
                          </div> -->




                        <!-- Selected Items Table -->
                        <!-- <table class="table w-full mt-4">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of selectedItems; let i = index">
                                    <td>{{ item.name }}</td>
                                    <td><input type="number" [(ngModel)]="item.quantity" min="1" class="input input-bordered w-16"></td>
                                    <td><button (click)="removeItem(i)" class="btn btn-error">Remove</button></td>
                                </tr>
                            </tbody>
                        </table> -->







                        <div>
                            <label class="label">
                                <span class="label-text">Create a Deal</span>
                            </label>

                            <!-- Table to display selected items with quantity and price -->
                            <div class=" overflow-x-auto table-fixed">
                                <table class="table table-zebra">
                                    <thead class="">
                                        <tr>
                                            <th>Item</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <!-- Loop through rows to display selected items -->
                                        <tr *ngFor="let row of rows; let i = index">
                                            <td>
                                                <!-- Input to search and select an item, disabled when item is selected -->
                                                <ng-container *ngIf="!rows[i].selectedItem">
                                                    <input class="input input-bordered" type="text"
                                                        placeholder="Search item..." [(ngModel)]="rows[i].searchText"
                                                        (input)="onSearch($event.target, i)"
                                                        [disabled]="rows[i].selectedItem !== null" />
                                                    <ul>
                                                        <li *ngFor="let item of filteredItems"
                                                            (click)="selectItem(item, i)">
                                                            {{ item.name }} - {{ item.price }}
                                                        </li>
                                                    </ul>
                                                </ng-container>
                                                <p class="font-bold" *ngIf="rows[i].selectedItem">{{
                                                    rows[i].selectedItem?.name }}</p>
                                            </td>
                                            <td>
                                                <!-- Input for quantity -->
                                                <input class="input w-14" type="number" [(ngModel)]="row.quantity"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (input)="onInputChange($event.target , i)" />
                                            </td>
                                            <td>{{ rows[i].totalPrice || '0$' }}</td>
                                            <td>
                                                <!-- Delete icon to remove the row -->
                                                <button class="btn btn-outline" (click)="deleteRow(i)">
                                                    🗑️
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            <!-- Button to add new row -->
                            <button class="btn btn-primary mt-4" (click)="addRow()">Add Item</button>
                            <!-- Display total price -->
                            <div class="mt-16">
                                <p class="text-xl font-bold">Total Price: {{ grandTotal || '0$' }}</p>
                                <input class="input input-bordered mt-2" type="number" placeholder="Enter Discounted Price..."
                                [(ngModel)]="userPrice" [ngModelOptions]="{standalone: true}" (input)="updateWithUserPrice()"/>
                            </div>

                        </div>








                        <!-- Submit Button -->
                        <div class="form-control mt-6">
                            <button class="btn btn-primary" (click)="createDeal()">Create Deal</button>
                        </div>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class=" flex w-full place-content-between gap-12 mt-10 ">
    @if (deals.length) {
        @for (deal of deals; track $index) {
            <div class="card bg-base-100 w-96 shadow-xl">
                <figure>
                    <img src="../../assets/images/items/burger.jpg" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <div class="flex flex-row place-content-between">
                        <h2><span class="font-bold">Name: </span> <br>{{deal.name}}</h2>
                        <h2><span class="font-bold">No: </span> {{deal.number}}</h2>
                    </div>
                    <div class="flex flex-row place-content-between">
                        <h2><span class="font-bold pr-20">Description: </span> <br> {{deal.description}} </h2>
                        <h2><span class="font-bold">End-Date: </span> {{deal.endDate || "NA"}}</h2>
                    </div>
                    <p class="flex py-7"><span class="font-bold">Price: </span> {{deal.discountedPrice}}</p>
        
                    <div class="card-actions justify-between">
                        <button class="btn btn-outline btn-success w-20">Edit</button>
                        <button class="btn btn-outline btn-primary w-20">View</button>
                        <button class="btn btn-outline btn-error w-20">Delete </button>
                    </div>
                </div>
            </div>

        }
    }
    @else {
        <span>No Deals Right now</span>
    }
    <!-- <div class="card bg-base-100 w-96 shadow-xl">
        <figure>
            <img src="../../assets/images/items/burger.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
            <div class="flex flex-row place-content-between">
                <h2><span class="font-bold">Name: </span> <br> Deal 1</h2>
                <h2><span class="font-bold">No: </span> 1001</h2>
            </div>
            <div class="flex flex-row place-content-between">
                <h2><span class="font-bold pr-20">Description: </span> <br> Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. </h2>
                <h2><span class="font-bold">End-Date: </span> 12-sep</h2>
            </div>
            <p class="flex py-7"><span class="font-bold">Price: </span> $200</p>

            <div class="card-actions justify-between">
                <button class="btn btn-outline btn-success w-20">Edit</button>
                <button class="btn btn-outline btn-primary w-20">View</button>
                <button class="btn btn-outline btn-error w-20">Delete </button>
            </div>
        </div>
    </div>

    <div class="card bg-base-100 w-96 shadow-xl">
        <figure>
            <img src="../../assets/images/items/burger.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
            <div class="flex flex-row place-content-between">
                <h2><span class="font-bold">Name: </span> <br> Deal 1</h2>
                <h2><span class="font-bold">No: </span> 1001</h2>
            </div>
            <div class="flex flex-row place-content-between">
                <h2><span class="font-bold pr-20">Description: </span> <br> Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. </h2>
                <h2><span class="font-bold">End-Date: </span> 12-sep</h2>
            </div>
            <p class="flex py-7"><span class="font-bold">Price: </span> $200</p>

            <div class="card-actions justify-between">
                <button class="btn btn-outline btn-success w-20">Edit</button>
                <button class="btn btn-outline btn-primary w-20">View</button>
                <button class="btn btn-outline btn-error w-20">Delete </button>
            </div>
        </div>
    </div>

    <div class="card bg-base-100 w-96 shadow-xl">
        <figure>
            <img src="../../assets/images/items/burger.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
            <div class="flex flex-row place-content-between">
                <h2><span class="font-bold">Name: </span> <br> Deal 1</h2>
                <h2><span class="font-bold">No: </span> 1001</h2>
            </div>
            <div class="flex flex-row place-content-between">
                <h2><span class="font-bold pr-20">Description: </span> <br> Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. </h2>
                <h2><span class="font-bold">End-Date: </span> 12-sep</h2>
            </div>
            <p class="flex py-7"><span class="font-bold">Price: </span> $200</p>

            <div class="card-actions justify-between">
                <button class="btn btn-outline btn-success w-20">Edit</button>
                <button class="btn btn-outline btn-primary w-20">View</button>
                <button class="btn btn-outline btn-error w-20">Delete </button>
            </div>
        </div>
    </div> -->
</div>