<div class="title-section w-full flex justify-between">
    <h1 class=" font-bold text-2xl">Deals</h1>

    <div class="floor-actions">
        <div class="drawer drawer-end">
            <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content">
                <!-- Page content here -->
                <label for="my-drawer-4" class="drawer-button btn btn-outline btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>Deals</label>
            </div>
            <div class="drawer-side z-50">
                <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay "></label>
                <ul class="menu bg-base-200 text-base-content min-h-full w-3/12 p-4">

                    <!-- New Deal Form -->
                    <h2 class="text-lg font-bold mb-4">Create New Deal</h2>
                    <form class="space-y-4">
                        <!-- Deal Name -->
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Deal Name</span>
                            </label>
                            <input type="text" placeholder="Enter deal name" class="input input-bordered"
                                [(ngModel)]="dealName" [ngModelOptions]="{standalone: true}" />
                        </div>

                        <!-- Deal Number -->
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Deal Number</span>
                            </label>
                            <input type="text" placeholder="Enter deal number" class="input input-bordered"
                                [(ngModel)]="dealNumber" [ngModelOptions]="{standalone: true}" />
                        </div>

                        <!-- Deal Description -->
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Deal Description</span>
                            </label>
                            <textarea class="textarea textarea-bordered" placeholder="Enter deal description"
                                [(ngModel)]="dealDescription" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>

                        <div>
                            <label class="label">
                                <span class="label-text">Create a Deal</span>
                            </label>

                            <!-- Table to display selected items with quantity and price -->
                            <div class=" overflow-x-auto table-fixed">
                                <table class="table table-zebra">
                                    <thead class="">
                                        <tr>
                                            <th>Item</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Loop through rows to display selected items -->

                                        @for (row of rows; track $index) {
                                        <tr>
                                            <td>
                                                <p>{{row.name}}</p>
                                            </td>
                                            <td>
                                                <input class="input w-14" type="number" [(ngModel)]="row.quantity"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (input)="onInputChange($event.target , $index)" />
                                            </td>
                                            <td>{{ rows[$index].totalPrice || '0$' }}</td>
                                            <td>
                                                <button class="btn btn-outline" (click)="deleteRow($index)">
                                                    🗑️
                                                </button>
                                            </td>
                                        </tr>
                                        }


                                        <tr style="position: fixed;">
                                            <div class="dropdown">
                                                <input type="text" tabIndex="0" (input)="onSearch($event.target)"
                                                    [(ngModel)]="searchItemTxt" [ngModelOptions]="{standalone: true}"
                                                    placeholder="Search Items...."
                                                    class="input input-bordered w-full bg-base-100" />
                                                <ul tabindex="0"
                                                    class="dropdown-content dropdown-open menu p-2 shadow bg-base-100 rounded-box w-52">
                                                    @if (filteredItems.length) {
                                                    @for (item of filteredItems; track $index) {
                                                    <li (click)="selectItem(item)">
                                                        <span> {{ item.name }} - {{ item.price }} $</span>
                                                    </li>

                                                    }
                                                    } @else {
                                                    <li>
                                                        Not Found
                                                    </li>
                                                    }



                                                </ul>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="mt-16">
                                <p class="text-xl font-bold">Total Price: {{ grandTotal || '0$' }}</p>
                                <input class="input input-bordered mt-2" type="text"
                                    placeholder="Enter Discounted Price..." [(ngModel)]="userPrice"
                                    [ngModelOptions]="{standalone: true}" />
                            </div>

                        </div>

                        <!-- Submit Button -->
                        <div class="form-control mt-6">
                            <button class="btn btn-primary" (click)="createDeal()">Create Deal</button>
                        </div>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class=" flex w-full place-content-between gap-12 mt-10 ">
    @if (deals.length) {
    @for (deal of deals; track $index) {
    <div class="card bg-base-100 w-96 shadow-xl">
        <figure>
            <img src="../../assets/images/items/burger.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
            <div class="flex flex-row place-content-between">
                <h2><span class="font-bold">Name: </span> <br>{{deal.name}}</h2>
                <h2><span class="font-bold">No: </span> {{deal.number}}</h2>
            </div>
            <div class="flex flex-row place-content-between">
                <h2><span class="font-bold pr-20">Description: </span> <br> {{deal.description}} </h2>
                <h2><span class="font-bold">End-Date: </span> {{deal.endDate || "NA"}}</h2>
            </div>
            <p class="flex py-7"><span class="font-bold">Price: </span> {{deal.discountedPrice}}</p>

            <div class="card-actions justify-between">
                <button class="btn btn-outline btn-success w-20">Edit</button>
                <button class="btn btn-outline btn-primary w-20">View</button>
                <button class="btn btn-outline btn-error w-20">Delete </button>
            </div>
        </div>
    </div>

    }
    }
    @else {
    <span>No Deals Right now</span>
    }
</div>